@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');

:root {
    --primary: #2F4182;
    --secondary: #CBDCFB;
    --tertiary: #754F78;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(to right, var(--primary), var(--tertiary), var(--secondary));
    /* background: var(--secondary); */
}

.c {
    position: relative;
}

.text-c {
    display: grid;
    place-items: center;
}

.drop {
    position: absolute;
    height: 200px;
    width: 200px;
    background: var(--secondary);
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    border: 2px solid #cbdcfb98;
}

.drop::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #b5c5e2;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -20px 30px 16px #CBDCFB, -40px 60px 32px #CBDCFB inset -6px 6px 10px #CBDCFB,
        inset 2px 6px 10px #CBDCFB, inset 20px -20px 22px white, inset 40px -40px 44px #b5c5e2;
}

.drop::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #e6fdfb;
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
    left: 130px;
    top: 40px;
    box-shadow: 16px 40px 0 -10px white;
}

.drop1 {
    left: -100px;
    top: -50px;
}

.drop2 {
    right: -100px;
    bottom: -50px;
    z-index: -1;
    border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

.drop2::before {
    border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

h1 {
    font-size: 72px;
    color: #fff;
    line-height: 0;
}

p {
    line-height: 0;
    color: #fff;
    font-size: 20px;
}